<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/Gefest-Vision/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="DeoEsor" />
            <add key="ClearTextPassword" value="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" />
        </github>
    </packageSourceCredentials>
</configuration>